/*--------------------------------------------------------------
  Template Name: Uniqlo-Minimalist eCommerce HTML5 Template.
  Template URI: #
  Description: Uniqlo is a unique website template designed in HTML with a simple & beautiful look. There is an excellent solution for creating clean, wonderful and trending material design corporate, corporate any other purposes websites.
  Author: HasTech
  Author URI: https://themeforest.net/user/hastech/portfolio
  Version: 1.0
---------------------------------------------------------------*/


/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/

body {
    font-size: 16px;
}

div.product__desc p {
    font-size: 16px;
}

div.pro__feature p {
    font-size: 16px;
}

li label {
    color: #E49E3E;
}

.social__icon li a i {
    border-color: white;
    color: white;
}

.ft__title {
    color: black;
}

.feature__details h4 a {
    color: white;
    background: rgba(0, 0, 0, 0.4);
}

.feature__details h4 a:hover {
    color: #ff4136;
}

.feature__details a {
    color: white;
}